<div class="bg-white min-h-screen flex flex-col">
    <!-- Header -->
    <header class="flex justify-between items-center p-6">
        <!-- Logo Container -->
        <div class="flex gap-2 items-center">
            <div class="h-[38px] overflow-hidden ">
                <img src="assets/images/base/Icon-container.svg" alt="icon" class="w-full h-full object-contain">
            </div>
            <div class="h-[38px] overflow-hidden ">
                <img src="assets/images/base/Logo.png" alt="logo" class="w-full h-full object-contain">
            </div>
        </div>

        <!-- Language Selector -->
        <nav class="flex h-[38px] items-center">
            <button class="flex gap-2 items-center justify-center px-3 py-2.5 rounded-lg hover:bg-gray-100 transition-colors">
                <svg class="w-3.5 h-3.5" fill="none" viewBox="0 0 14 14">
                    <g clip-path="url(#clip0_1_9566)">
                        <path d="M2.91667 4.66667L6.41667 8.16667" stroke="#1F2937" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path d="M2.33333 8.16667L5.83333 4.66667L7 2.91667" stroke="#1F2937" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path d="M1.16667 2.91667H8.16667" stroke="black" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M4.08333 1.16667H4.66667" stroke="black" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M12.8333 12.8333L9.91667 7L7 12.8333" stroke="black" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path d="M8.16667 10.5H11.6667" stroke="black" stroke-linecap="round" stroke-linejoin="round" />
                    </g>
                    <defs>
                        <clipPath id="clip0_1_9566">
                            <rect fill="white" height="14" width="14" />
                        </clipPath>
                    </defs>
                </svg>
                <span class="font-semibold text-[15px] text-gray-800">EN</span>
            </button>
        </nav>
    </header>

    <!-- Main Content -->
    <main class="flex-1 flex items-center justify-center p-8">
        <section class="bg-white flex flex-col gap-10 items-center justify-center p-8 rounded-2xl w-full max-w-[554px] border border-gray-200 shadow-sm">
            <!-- Welcome Section -->
            <div class="flex flex-col gap-6 items-center w-full">
                <div class="flex flex-col gap-2 items-center text-center w-full">
                    <h1 class="font-semibold text-4xl text-gray-800 tracking-[0.18px] w-full leading-normal">
                        Let's get you started
                    </h1>
                    <p class="font-normal text-sm text-gray-500 tracking-[0.08px] w-full leading-6">
                        Select whether you want to create an account as an individual or on behalf of a company.
                    </p>
                </div>
            </div>

            <!-- Account Type Selection -->
            <section class="flex gap-4 items-stretch w-full">
                <!-- Individual Option -->
                <div (click)="onSelectAccountType('individual')" class="flex-1 bg-slate-50 rounded-2xl px-4 py-8 md:px-8 md:py-16 border border-transparent text-gray-600  hover:text-primary-700 hover:bg-primary-700/5 hover:border-primary-700 transition-colors cursor-pointer"
                [ngClass]="{'!border-primary-700 !text-primary-700 !bg-primary-700/5': selectedAccountType === 'individual'}"
                >
                    <div class="flex flex-col items-center justify-center h-full gap-4">
                        <div class="w-[88px] h-[88px] flex items-center justify-center">
                            <svg class="w-full h-full" fill="none" viewBox="0 0 88 88">
                                <g>
                                    <path
                                        d="M44 47.6667C54.1252 47.6667 62.3333 39.4586 62.3333 29.3333C62.3333 19.2081 54.1252 11 44 11C33.8748 11 25.6667 19.2081 25.6667 29.3333C25.6667 39.4586 33.8748 47.6667 44 47.6667Z"
                                        stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" />
                                    <path
                                        d="M73.3333 77C73.3333 69.2203 70.2429 61.7593 64.7418 56.2582C59.2407 50.7571 51.7797 47.6667 44 47.6667C36.2203 47.6667 28.7593 50.7571 23.2582 56.2582C17.7571 61.7593 14.6667 69.2203 14.6667 77"
                                        stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" />
                                </g>
                            </svg>
                        </div>
                        <h2 class="font-medium text-base text-center tracking-[0.08px] leading-6">
                            Individual
                        </h2>
                    </div>
                </div>

                <!-- Company Option -->
                <div (click)="onSelectAccountType('company')" class="flex-1 bg-slate-50 rounded-2xl px-4 py-8 md:px-8 md:py-16 border  border-transparent text-gray-600  hover:text-primary-700  hover:bg-primary-700/5 hover:border-primary-700 transition-colors cursor-pointer"
                [ngClass]="{'!border-primary-700 !text-primary-700 !bg-primary-700/5': selectedAccountType === 'company'}"
                >
                    <div class="flex flex-col items-center justify-center h-full gap-4">
                        <div class="w-[88px] h-[88px] flex items-center justify-center">
                            <svg class="w-full h-full" fill="none" viewBox="0 0 88 88">
                                <g>
                                    <path
                                        d="M22 80.6667V14.6667C22 12.7217 22.7726 10.8565 24.1479 9.48122C25.5232 8.10595 27.3884 7.33333 29.3333 7.33333H58.6667C60.6116 7.33333 62.4768 8.10595 63.8521 9.48122C65.2274 10.8565 66 12.7217 66 14.6667V80.6667H22Z"
                                        stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" />
                                    <path
                                        d="M22 44H14.6667C12.7217 44 10.8565 44.7726 9.48122 46.1479C8.10595 47.5232 7.33333 49.3884 7.33333 51.3333V73.3333C7.33333 75.2783 8.10595 77.1435 9.48122 78.5188C10.8565 79.894 12.7217 80.6667 14.6667 80.6667H22"
                                        stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" />
                                    <path
                                        d="M66 33H73.3333C75.2783 33 77.1435 33.7726 78.5188 35.1479C79.894 36.5232 80.6667 38.3884 80.6667 40.3333V73.3333C80.6667 75.2783 79.894 77.1435 78.5188 78.5188C77.1435 79.894 75.2783 80.6667 73.3333 80.6667H66"
                                        stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" />
                                    <path d="M36.6667 22H51.3333" stroke="currentColor" stroke-linecap="round"
                                        stroke-linejoin="round" stroke-width="1.5" />
                                    <path d="M36.6667 36.6667H51.3333" stroke="currentColor" stroke-linecap="round"
                                        stroke-linejoin="round" stroke-width="1.5" />
                                    <path d="M36.6667 51.3333H51.3333" stroke="currentColor" stroke-linecap="round"
                                        stroke-linejoin="round" stroke-width="1.5" />
                                    <path d="M36.6667 66H51.3333" stroke="currentColor" stroke-linecap="round"
                                        stroke-linejoin="round" stroke-width="1.5" />
                                </g>
                            </svg>
                        </div>
                        <h2 class="font-medium text-base text-center tracking-[0.08px] leading-6">
                            Company
                        </h2>
                    </div>
                </div>
            </section>

            <!-- Action Section -->
            <div class="flex flex-col gap-2 items-start w-full">
                <!-- Let's Start Button -->
                <button [routerLink]="['/auth','signup' , selectedAccountType]" class="w-full disabled:bg-primary-700 disabled:cursor-not-allowed bg-primary-900 hover:bg-primary-950 transition-colors rounded-lg py-3.5 px-4 flex items-center justify-center gap-2.5"
                [disabled]="!selectedAccountType"
                >
                    <span class="font-semibold text-[15px] text-[#fff5ed] tracking-[0.075px] leading-normal">
                        Let's Start
                    </span>
                    <svg class="w-3.5 h-3.5" fill="none" viewBox="0 0 14 14">
                        <path d="M5.25 10.5L8.75 7L5.25 3.5" stroke="#FFF5ED" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                </button>

                <!-- Sign In Link -->
                <div class="flex gap-2.5 items-center justify-center w-full py-4 text-sm tracking-[0.07px]">
                    <span class="font-normal text-gray-500 leading-5">
                        Do you have an account?
                    </span>
                    <a routerLink="/auth/signin" class="font-medium text-blue-600 hover:text-blue-700 leading-5 transition-colors">
                        Sign In
                    </a>
                </div>
            </div>
        </section>
    </main>
</div>