<div class="bg-white">
    <div class="flex min-h-screen p-2">
        <div class="w-full h-[inherit] lg:w-7/12 xl:w-8/12 flex flex-col">
            <header class="flex justify-between items-center p-2 mb-8 h-10">
                <!-- Logo Container -->
                <div class="flex gap-2 items-center">
                    <div class=" overflow-hidden ">
                        <img src="assets/images/base/Logo.png" alt="logo" class="w-full h-full object-contain">
                    </div>
                    <div class=" overflow-hidden ">
                        <img src="assets/images/base/Icon-container.svg" alt="icon"
                            class="w-full h-full object-contain">
                    </div>
                </div>

                <!-- Language Selector -->
                <nav class="flex items-center">
                    <app-language-switcher></app-language-switcher>
                </nav>
            </header>
            <div class="max-w-[400px] mx-auto flex-1">
                <router-outlet></router-outlet>
            </div>
        </div>
        <div
            class="w-full lg:w-5/12 xl:w-4/12 hidden lg:flex bg-gray-100 items-end pb-6 justify-center relative overflow-hidden rounded-xl">
            <img alt="Gas station canopy with Arabic text" class="absolute top-0 left-0 w-full h-full object-cover"
                [src]="'assets/images/base/image.png'" />
            <!-- Carousel container -->
            <div  class="relative w-full max-w-4xl mx-auto overflow-hidden">
                <div #slider class="flex transition-transform duration-700 ease-in-out">
                    <!-- Testimonial 3 -->
                    @for (testimonial of [1, 2, 3 ,4, 5 ,6, 7, 8, 9, 10]; track testimonial) {
                    <div class="card-testimonial" [id]="`testimonial-${testimonial}`">
                        <div class="bg-white p-6 h-full flex flex-col justify-between">
                            <p class="flex-1 text-2xl font-semibold text-blue-400 leading-relaxed">"Using WAIE made
                                fueling
                                and
                                managing my company fleet so simple. I can track every transaction."</p>
                            <div class="flex items-center mt-4 h-12">
                                <img alt="Portrait of Mohamed Adel Elzohiry" class="h-12 w-12 rounded-lg mr-4"
                                    src="https://lh3.googleusercontent.com/aida-public/AB6AXuB3I0N_Q5OgZvfECWqGDzeOX-CFflelC-f6EViEVhmizHFaQMS0LGa2Adv5l4calhyI6nb3sitdPJeEsImvDvZ2hJ5o32UUIJP93yJOIbvH0kCzCR3Q0grzHnHHWZC_iav5sVNW5i78d5U_y89qbcjzj5lPY1-Nve20_HNnPowscu8OQaC900-tP6ko0vS8F_G_hY7R8PcW73Gpf05csA0XBZkHgE6KxoKvMXZH0vEyDuoJ0QF3ps-jzMh-rirARCkUvXwPA7_o-wM" />
                                <div>
                                    <p class="font-bold text-gray-900 text-sm">Mohamed Adel Elzohiry</p>
                                    <p class="text-sm text-gray-500">Fleet Manager, Riyadh</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    }
                </div>
            </div>

        </div>
    </div>
</div>