<div class="min-h-screen bg-gray-50 flex flex-col justify-center py-12 sm:px-6 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <div class="text-center">
      <h2 class="text-3xl font-extrabold text-gray-900 mb-2">
        تسجيل دخول الشركات
      </h2>
      <p class="text-sm text-gray-600">
        مرحباً بك في بوابة الشركات
      </p>
    </div>
  </div>

  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
    <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
      <lib-dynamic-form 
        [fields]="formFields" 
        (formSubmit)="onSubmit($event)"
        [config]="formConfig"
        (buttonClick)="onSubmit($event)">
      </lib-dynamic-form>
    </div>
  </div>
</div> 